In [1]:
import pandas as pd
import numpy as np

In [ ]:
dict1 = {'name1': 'XYZ1', 'name2': 'XYZ2'}
dict2 = {'score1': 15, 'score2': 15}

In [ ]:
pd.DataFrame(data = (dict1, dict2))

In [ ]:
dict1 = {'name1': list(range(10)), 'name2': list(range(10,20))}

In [ ]:
pd.DataFrame(data = (dict1))

# Read Data

In [ ]:
data = pd.read_csv('dataset_32_pendigits.csv')

In [ ]:
data.head()

In [ ]:
data.tail()

In [ ]:
data.dtypes

In [ ]:
data.describe()

In [ ]:
data.index

In [ ]:
data.input1

In [ ]:
type(data.input1)

In [ ]:
data['input1']

In [ ]:
type(data['input1'])

In [ ]:
data[['input1']]

In [ ]:
type(data[['input1']])

In [ ]:
data[['input1','input2']]

In [ ]:
data[:4]

In [ ]:
data[7:14]

In [ ]:
data.loc[1]

In [ ]:
data.loc[[1]]

In [ ]:
data.loc[:3]

In [ ]:
data.loc[:3,['input1','input2','input3','input4']]

In [ ]:
data.loc[:4, ['input1']]

In [ ]:
data.iloc[1]

In [ ]:
data.iloc[:3]

In [ ]:
data.iloc[:3, :3]

In [ ]:
data['input2'] < 50

In [ ]:
data[data['input2'] < 50]

In [ ]:
data[data['input1'] == 0]

In [ ]:
data.shape

In [ ]:
data.isnull().sum()

In [ ]:
data[data['input11'].isnull()]

In [ ]:
data['input11'] = data['input11'].fillna(0)

In [ ]:
data[data['input1'].isnull()]

In [ ]:
data = pd.read_csv('dataset_32_pendigits.csv')

In [ ]:
someVari = data['input1']

In [ ]:
someVari.fillna('mean')

# Mathematical Operations

In [ ]:
data['input1'].mean(),data['input1'].sum(),data['input1'].var()

In [ ]:
np.cumsum(sampDatasetOf1)

# APPLY

In [2]:
data = pd.read_csv('dataset_32_pendigits.csv')

In [ ]:
data.apply(sum, axis = 1)

In [ ]:
data.apply(sum, axis = 0)

In [ ]:
data.apply(sum)

In [3]:
dictcheck = {'a':10,'b':20,'c':30}

In [4]:
sampNumpy = np.array(['a','b','c','a','b','c'])

In [5]:
dataFSamp = pd.DataFrame(sampNumpy, columns = ['columnName'])
dataFSamp

  columnName
0          a
1          b
2          c
3          a
4          b
5          c

In [6]:
def checkFunc(x):
    return dictcheck[x]

In [7]:
dataFSamp['columnName'].apply(checkFunc)

0    10
1    20
2    30
3    10
4    20
5    30
Name: columnName, dtype: int64

# APPLY with Lambda

In [8]:
def checkFunc(x):
    if x < 10:
        return 'G10'
    elif x < 50:
        return 'G50'
    elif x < 90:
        return 'G90'
    else:
        return 'NO'

In [ ]:
data['input4']

In [ ]:
data['input4'].apply(lambda x : checkFunc(x))

In [ ]:
data['input4'].map(checkFunc)

In [ ]:
data['input4'].apply(checkFunc)

In [9]:
import datetime
a = datetime.datetime.now()
data['input4'].apply(checkFunc)
b = datetime.datetime.now()
print(b-a)

0:00:00.006995

In [10]:
import datetime
a = datetime.datetime.now()
data['input4'].map(checkFunc)
b = datetime.datetime.now()
print(b-a)

0:00:00.008990

In [11]:
import datetime
a = datetime.datetime.now()
data['input4'].apply(lambda x : checkFunc(x))
b = datetime.datetime.now()
print(b-a)

0:00:00.008998

# ApplyMAP

In [12]:
data.applymap(checkFunc).head()

,input1,input2,input3,input4,input5,input6,input7,input8,input9,input10,input11,input12,input13,input14,input15,input16,class
0,G50,NO,G50,G90,G90,G50,G50,G10,G10,G50,G90,G90,NO,NO,G50,NO,G10
1,G10,G90,G50,NO,G50,G90,G50,G50,G50,G50,G50,G10,G90,G10,NO,G10,G10
2,G10,G90,G50,G90,G90,NO,NO,NO,G90,G90,G90,G90,G50,G50,G50,G10,G10
3,G10,NO,G10,NO,G10,G90,G50,G50,G90,G50,NO,G50,G90,G50,G90,G10,G10
4,G10,G90,G50,G90,NO,NO,G90,G90,G90,G90,G50,G50,G50,G50,G50,G10,G10

In [13]:
def someFunc(x,y):
    try:
        return (x/y)
    except:
        return 0

In [14]:
data.head()

,input1,input2,input3,input4,input5,input6,input7,input8,input9,input10,input11,input12,input13,input14,input15,input16,class
0,47,100,27,81,57,37,26,0,0,23,56.0,53,100,90,40,98,8
1,0,89,27,100,42,75,29,45,15,15,37.0,0,69,2,100,6,2
2,0,57,31,68,72,90,100,100,76,75,50.0,51,28,25,16,0,1
3,0,100,7,92,5,68,19,45,86,34,100.0,45,74,23,67,0,4
4,0,67,49,83,100,100,81,80,60,60,40.0,40,33,20,47,0,1

In [15]:
data[['input3','input4']].apply(lambda x : someFunc(*x), axis = 1)

0        0.333333
1        0.270000
2        0.455882
3        0.076087
4        0.590361
           ...
10987    0.342857
10988    0.410000
10989    0.341772
10990    0.000000
10991    0.456790
Length: 10992, dtype: float64

# Merge(Join), Concat/Append in Pandas

In [16]:
table1 = pd.DataFrame(data = {'columns1':[1,2,3,4],'columns2':[5,6,7,8]})
table2 = pd.DataFrame(data = {'columns1':[9,10,11,12],'columns2':[13,14,15,16]})
table3 = pd.DataFrame(data = {'columns3':[1,1,2,2],'columns4':[5,6,7,8]})

In [17]:
pd.concat([table1, table2])

   columns1  columns2
0         1         5
1         2         6
2         3         7
3         4         8
0         9        13
1        10        14
2        11        15
3        12        16

In [18]:
table1.append(table2)

   columns1  columns2
0         1         5
1         2         6
2         3         7
3         4         8
0         9        13
1        10        14
2        11        15
3        12        16

In [19]:
pd.concat([table1,table3])

   columns1  columns2  columns3  columns4
0       1.0       5.0       NaN       NaN
1       2.0       6.0       NaN       NaN
2       3.0       7.0       NaN       NaN
3       4.0       8.0       NaN       NaN
0       NaN       NaN       1.0       5.0
1       NaN       NaN       1.0       6.0
2       NaN       NaN       2.0       7.0
3       NaN       NaN       2.0       8.0

In [20]:
pd.concat([table1,table3],axis = 1)

   columns1  columns2  columns3  columns4
0         1         5         1         5
1         2         6         1         6
2         3         7         2         7
3         4         8         2         8

# Merge

In [23]:
pd.merge(table1,table3,left_on=['columns1'],right_on=['columns3'],how='left')

   columns1  columns2  columns3  columns4
0         1         5       1.0       5.0
1         1         5       1.0       6.0
2         2         6       2.0       7.0
3         2         6       2.0       8.0
4         3         7       NaN       NaN
5         4         8       NaN       NaN

In [24]:
pd.merge(table1,table3,left_on=['columns1'],right_on=['columns3'],how='inner')

   columns1  columns2  columns3  columns4
0         1         5         1         5
1         1         5         1         6
2         2         6         2         7
3         2         6         2         8

# Learning with example

In [2]:
salesData = pd.read_excel('Sample - Superstore.xls')

In [3]:
salesData.head(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820

In [4]:
salesData.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55190.379428,229.858001,3.789574,0.156203,28.656896
std,2885.163629,32063.693350,623.245101,2.225110,0.206452,234.260108
min,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000

# How many unique products we got

In [5]:
np.unique(salesData['Product ID'])

array(['FUR-BO-10000112', 'FUR-BO-10000330', 'FUR-BO-10000362', ...,
       'TEC-PH-10004924', 'TEC-PH-10004959', 'TEC-PH-10004977'],
      dtype=object)

In [6]:
len(np.unique(salesData['Product ID']))

1862